body {
    margin: 0;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: #2c2c2f;
}

body h1 {
    color: white;
}

#iq-main {
    background-color: white;
    height: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.2);
}

#iq-map-wrapper {
    width: 600px;
    aspect-ratio: 16/9;
    border-radius: 16px;
    overflow: hidden;
}

#iq-map {
    height: 100%;
    width: 100%;
}

.iq-visual-option-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: transparent;
    width: 100%;
}

.iq-visual-option {
    appearance: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    background-color: transparent;
    border: 1px solid #cfd8e2;
    border-radius: 8px;
    padding: 24px;
    cursor: pointer;
}

.iq-visual-option svg {
    width: 32px;
    height: 32px;
    color: #4a5d74;
}

.iq-visual-option.iq-active {
    border: 1px solid #007aff;
}

.iq-visual-option-title {
    margin-top: 0.75em;
}

.iq-structure-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    background-color: #f2f4f8;
    color: #0e1012;
    border-radius: 16px;
    padding: 16px;
}

.iq-structure-item h3 {
    font-size: 1.15em;
    margin: 0 0 0.125em 0;
}

.iq-structure-item-area {
    font-size: 0.9em;
    color: #637182;
    margin-bottom: 1em;
}

.iq-visual-option-group-title {
    margin-bottom: 0.5em;
}

#iq-structure-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#iq-bottom-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.iq-button {
    appearance: none;
    border: none;
    background-color: #007aff;
    color: white;
    padding: 16px 32px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s;
}

.iq-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


/* Map attribution */

.maplibregl-ctrl-attrib.maplibregl-compact {
    margin: 32px;
}

/* Geocoding control */

.maplibregl-ctrl-top-left .maplibregl-ctrl {
    margin: 32px;
}

.maplibregl-ctrl-geocoder form {
    font-family: var(--font) !important;
    border-radius: 12px !important;
    width: 100% !important;
    min-width: 300px !important;
    max-width: 100% !important;
}

.maplibregl-ctrl-geocoder form div {
    padding: 8px;
    border-radius: 16px !important;
}

.maplibregl-ctrl-geocoder form div input {
    font-size: 14px !important;
    text-overflow: ellipsis;
}


@media screen and (max-width: 480px) {

    /* 16px on mobile to prevent auto zooming */
    .maplibregl-ctrl-geocoder form div input {
        font-size: 16px !important;
    }



    /* Geocoder positioning for mobile */

    .maplibregl-ctrl-attrib.maplibregl-compact {
        margin: 24px;
    }

    .maplibregl-ctrl-top-left .maplibregl-ctrl {
        margin: 24px;
    }

    .maplibregl-ctrl-geocoder form {
        font-family: var(--font) !important;
        border-radius: 12px !important;
        width: calc(100vw - 48px) !important;
        min-width: calc(100vw - 48px) !important;
        max-width: calc(100vw - 48px) !important;
    }
}

.maplibregl-ctrl-geocoder form div div.clear-button-container,
.maplibregl-ctrl-geocoder form div div.clear-button-container button {
    cursor: pointer !important;
}

.maplibregl-ctrl-geocoder form div button.search-button {
    padding-left: 4px;
}

.maplibregl-ctrl-geocoder form ul {
    border-radius: 16px !important;
}

.maplibregl-ctrl-geocoder form ul li {
    cursor: pointer !important;
    animation: none !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.maplibregl-ctrl-geocoder form ul li img {
    display: none !important;
}

.maplibregl-ctrl-geocoder form div.no-results {
    display: none !important;
}